@import "tailwindcss";


*{
  font-family: "Titillium Web", sans-serif;
}
body{
  background-color: #313131;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.animate-loop-scroll {
  animation: loop-scroll 50s linear infinite;
}

@layer utilities{
  .paused{
    animation-play-state: paused;
  }
}


.group:hover .animate-loop-scroll {
  animation-play-state: paused;
}