@import "tailwindcss";

@font-face {
  font-family: 'Titillium Web';
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');
  font-display: swap;
}

*{
  font-family: "Titillium Web", sans-serif;
}
body{
  background-color: #313131;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.animate-loop-scroll {
  animation: loop-scroll 50s linear infinite;
}

@layer utilities{
  .paused{
    animation-play-state: paused;
  }
}


.group:hover .animate-loop-scroll {
  animation-play-state: paused;
}

.custom-toast {
  background-color: #1782e6c0 !important; /* Cambia el color de fondo */
  color: white !important; /* Cambia el color del texto */
  --toastify-icon-color-success: #17e6b2c0 !important; /* Cambia el color del icono */
  --toastify-color-progress-success: #f8f8f8de !important; /* Cambia el color de la barra de progreso */
}